
header{
  background-color: #00284B;
  height: 90px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px ;
ul{
  margin:0px!important;
}
a{
  color: white;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  font-family: Ubuntu;
}
}
.right-notifications{
  display:flex;
  justify-content: space-between;
  align-items: center;
  p{
    color:white;
    font-family: Ubuntu;
  }
}
.margin-12{
  margin: 12.32px;
}
.margin-right-30{
  margin-right: 30px;
}

.property-list{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

.rent-page-container{
  padding:32px 100px;
  .Register-message{
    font-size: 23px;
    font-family: Ubuntu;
    font-weight:500;
    margin: 0px;
  }
}
.rent-tabs-container{
  background-color: white;
  padding: 0px 100px;
}

.rent-tabs-flex{
  display:flex;
  padding: 0px;
  margin: 0px;

  button{
    padding: 8px 24px;
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Ubuntu';
    color: #595959;
    font-weight: 400;
    cursor: pointer;
   
  }
}
.active {
  background-color: #CC9C4A!important;
  color: white!important;
}
.rent-light{
  font-size: 13px;
  font-family: Ubuntu;
  font-weight: 400;
  color: #595959;
}
.rent-dark{
  font-size: 13px;
  font-family: Ubuntu;
  font-weight: 500;
  color: #00284B;
}

.properties-container{
  padding: 40px 100px;
  background-color: #F6F6F6;
  height: 100vh;
}

.properties-header{
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 23px;

}

.property-info{
  width: 349.33px;
  height: 189px;
  background-color: white;
  padding: 30px 24px 15px 24px;
  border-radius: 0px 0px 4px 4px;
  
}
.property-address{
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 23px;
  color: #212121;
  margin: 10px 0px;
}

.property-price{
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 23px;
  color: #00284B;
  margin: 10px 0px;
  line-height: 32.2px;
}

.property-buttons{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.view-btn{
  width: 397.33px;
  padding: 16px 24px 16px 24px;
  border-radius: 4px;
  border: 1px solid #CC9C4A;
  background: none;
  color: #CC9C4A;
  margin-right: 8px;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.view-btn img{
  margin-right: 5px;
}
.offer-btn{
  width: 397.33px;
  padding: 16px 24px 16px 24px;
  border-radius: 4px;
  background: #00284B;
  color: white;
  font-family: Ubuntu;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.offer-btn img{
  margin-right: 5px;
}

.logo-name{
  display: flex;
}

.bed-icon{
  margin-right: 8px;
}
.bed-icon img{
  font-size: 23px;
  background-color: #F7F9FE;
}
.tab-active {
  color: #CC9C4A!important; 
  padding: 10px;
  border-bottom: 2px solid #CC9C4A; 
}
.property-type{
  position: absolute;
  margin-top: -15px;
  margin-left: 15px;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  font-family: Ubuntu;
}

.filter-button{
  padding: 2px;
  border-radius: 4px;
  
  button{
    background-color: #1A295B14;
    border: none;
    padding: 8px 100px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 400;
    font-family: Ubuntu;
  }
}

.btn-active{
  background-color: white!important;
}